$max-width: 1000px;

*,
body {
  margin: 0;
  padding: 0;
  // FIXME: only Safari on iOS>=13
  touch-action: pan-x pan-y;
  user-select: none;
}

body {
  overflow: hidden;
  overscroll-behavior: contain;
  margin: auto;
}

#app {
  width: auto;
  background-color: #93aad4;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#drawer-bth {
  position: absolute;
  gap: 7px;
  width: Max(50px, 5vw, 5vh);
  height: Max(50px, 5vw, 5vh);
  margin: 10px;
  box-sizing: border-box;
  border-radius: 35%;
  z-index: 10;
  cursor: pointer;
}

#drawer-bth.drawer-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #3621d7;
  & > div {
    width: 100%;
    height: 16%;
    background: #fff;
    border-radius: 2px;
  }
}

#drawer-bth.drawer-open {
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 15%;
    background: #fff;
    border-radius: 3px;
  }
  & > div:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  & > div:nth-of-type(2) {
    display: none;
  }
  & > div:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

#drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min($max-width, 100vw);
  height: 100%;
  z-index: 9;

  & > a {
    color: #fff;
  }
  &.drawer-close {
    display: none;
  }
  &.drawer-open {
    background-color: #566316d1;
  }
}

#header {
  width: auto;
  background: #888;
  text-align: center;
  font-size: 18px;
}

#footer {
  width: auto;
  background: #ddd;
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  padding: 0.25em;
  color: #fff;
  background-color: #007bff;
  font-size: Min(32px, 5vw, 5vh);
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: #007bff;

  // appearance: none;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: 0.65;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  &:not(:disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
  }
}

#wrapper {
  width: auto;
  flex: 1;
}

#main {
  width: auto;
  height: 100%;
  padding: 1% 3%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Google Chrome
  }
}

#main .message {
  width: fit-content;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid;
  &.me {
    align-self: flex-end;
    row-gap: 10px;
    background-color: #b77;
  }
  &.enemy {
    row-gap: 10px;
    align-self: flex-start;
    background-color: #77b;
  }
  &.system {
    align-self: center;
    background-color: #bb7;
  }
}

@media screen and (min-width: $max-width) {
  #app {
    width: $max-width;
  }

  #footer > button {
    font-size: Min(24px, 5vw, 5vh);
  }
}
